*{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lato', sans-serif;
}
/* HEADER */
.header{
    background: blue;
}
.logo{
    margin-left: 5px;
}
.btnR{
    margin-right: 10px;
}
.Vendido{
    color: #fff; font-style: italic; font-weight: 300; font-family: 'Dancing Script', cursive; 
}

.usuario {
    font-size: 30px;
    font-weight: 900;
    color: white;
}
/* SECTION */
.form-file {
    position: relative;
    width: 400px;
    height: 400px;
    border: solid .5px;
    background: #fff;
}

.form-file_action {
    position: relative;
    width: 400px;
    height: 400px;
}

.texto10 {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    font-weight: 900;
    font-size: medium;
    color:black;
}
.add {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.input {
    width: 100%;
    font-weight: 900;
}

.negrita{
    font-weight: 700;
}
.fechaI{
    text-align: center;

}
.fechaF{
    text-align: center;
}

.card-body{
    background: rgb(238, 238, 238);
}

.pict {
    width: 200px;
}

.title {
    font-weight: 900;
}

.padrastro {
    padding: 20px;
    width: 75%;
    background: rgb(238, 238, 238);
}


.btnp2 {
    width: 100%;
    font-weight: 900;
    box-shadow: 2px 2px 5px 0 black;
    cursor: auto;
    text-decoration: none;
    text-align: center;
}

